src/net/sf/rem/resources/zul.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : zul.dtd
    Created on : March 2, 2007, 8:10 PM
    Author     : magic
    Description:
        Inverted from zul.xsd. It is created to use Source Editor's code completion based on DTD.

    TODO define vocabulary identification data
    PUBLIC ID  : SCHEMA:http://java.sun.com/xml/ns/javaee/zul.xsd
    SYSTEM ID  : nbres:/net/sf/rem/resources/zul.dtd
-->

<!-- area -->
<!ELEMENT area (attribute | custom-attributes)*>
<!ATTLIST area 
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        shape CDATA #IMPLIED
        coords CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
>
       
<!-- attribute --> 
<!ELEMENT attribute (#PCDATA)>
<!ATTLIST attribute
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        name CDATA #IMPLIED
>
        
<!-- audio -->
<!ELEMENT audio  (attribute | custom-attributes)*>
<!ATTLIST audio
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        align (top|texttop|middle|absmiddle|bottom|absbottom|baseline|left|right|center) #IMPLIED
        border CDATA #IMPLIED
        src CDATA #IMPLIED
        autostart CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- bandbox -->
<!ELEMENT bandbox ((attribute | custom-attributes)*,(bandpopup,(attribute | custom-attributes)*)?)>
<!ATTLIST bandbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        autodrop CDATA #IMPLIED
        buttonVisible CDATA #IMPLIED
        image CDATA #IMPLIED
        value CDATA #IMPLIED
        type (text|password) #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onOpen CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- bandpopup -->
<!ELEMENT bandpopup (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST bandpopup 
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- box -->
<!ELEMENT box (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript | splitter)*>
<!ATTLIST box 
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        spacing CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- button -->
<!ELEMENT button (attribute | custom-attributes)*>
<!ATTLIST button
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        dir (normal|reverse) #IMPLIED
        href CDATA #IMPLIED
        target CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- calendar -->
<!ELEMENT calendar (attribute | custom-attributes)*>
<!ATTLIST calendar 
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        value CDATA #IMPLIED
        compact CDATA #IMPLIED
        timeZone CDATA #IMPLIED
        onChange CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- caption -->
<!ELEMENT caption (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST caption
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
>

<!-- chart -->
<!ELEMENT chart (attribute | custom-attributes)*>
<!ATTLIST chart
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        border CDATA #IMPLIED
        align (top|texttop|middle|absmiddle|bottom|absbottom|baseline|left|right|center) #IMPLIED
        hspace CDATA #IMPLIED
        vspace CDATA #IMPLIED
        type (area|bar|histogram|line|pie|polar|ring|scatter|stacked_area|stacked_bar|step|step_area|time_series|waterfall) #IMPLIED
        model CDATA #IMPLIED
        title CDATA #IMPLIED
        xAxis CDATA #IMPLIED
        yAxis CDATA #IMPLIED
        threeD CDATA #IMPLIED
        showLegend CDATA #IMPLIED
        showTooltiptext CDATA #IMPLIED
        paneColor CDATA #IMPLIED
        fgAlpha CDATA #IMPLIED
        bgAlpha CDATA #IMPLIED
        bgColor CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        timeZone CDATA #IMPLIED
        period (millisecond|secondr|minute|hour|day|week|month|quarter|year) #IMPLIED
        areaListener CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>
 
<!-- checkbox -->
<!ELEMENT checkbox (attribute | custom-attributes)*>
<!ATTLIST checkbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED 
        name CDATA #IMPLIED
        checked CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onCheck CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- column -->
<!ELEMENT column (attribute | custom-attributes)*>
<!ATTLIST column
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        align (left|right|center) #IMPLIED
        valign (top|middle|bottom) #IMPLIED
        sortDirection (natural|ascending|descending) #IMPLIED
        sortAscending CDATA #IMPLIED
        sortDescending CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onSort CDATA #IMPLIED
>

<!-- columns -->
<!ELEMENT columns (attribute | custom-attributes | column)*>
<!ATTLIST columns
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        sizable CDATA #IMPLIED
>

<!-- combobox -->
<!ELEMENT combobox (attribute | custom-attributes | comboitem)*>
<!ATTLIST combobox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        autodrop CDATA #IMPLIED
        buttonVisible CDATA #IMPLIED
        value CDATA #IMPLIED
        type (text|password) #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onOpen CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- comboitem -->
<!ELEMENT comboitem (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST comboitem
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        description CDATA #IMPLIED
>
        
<!-- custom-attributes -->
<!ELEMENT custom-attributes EMPTY>

<!-- datebox -->
<!ELEMENT datebox (attribute | custom-attributes)*>
<!ATTLIST datebox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        format CDATA #IMPLIED
        value CDATA #IMPLIED
        lenient CDATA #IMPLIED
        compact CDATA #IMPLIED
        timeZone CDATA #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- decimalbox -->
<!ELEMENT decimalbox (attribute | custom-attributes)*>
<!ATTLIST decimalbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        format CDATA #IMPLIED
        value CDATA #IMPLIED
        scale CDATA #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- div -->
<!ELEMENT div (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST div
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        align (left|right|center|justify) #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- doubledox -->
<!ELEMENT doublebox (attribute | custom-attributes)*>
<!ATTLIST doublebox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        format CDATA #IMPLIED
        value CDATA #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- grid -->
<!ELEMENT grid ((attribute | custom-attributes)*,((columns,(attribute | custom-attributes)*,(rows,(attribute | custom-attributes)*)?) | (rows,(attribute | custom-attributes)*,(columns,(attribute | custom-attributes)*)?))?)>
<!ATTLIST grid
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        align (left|right|center) #IMPLIED
        pageSize CDATA #IMPLIED
        paginal CDATA #IMPLIED
        onPaging CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- groupbox -->
<!--
  The children elements of groupbox here may not be equivalent to that in zul.xsd
-->
<!ELEMENT groupbox (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript | caption)*>
<!ATTLIST groupbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        open CDATA #IMPLIED
        closable CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onOpen CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- hbox -->
<!ELEMENT hbox (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript | splitter)*>
<!ATTLIST hbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        spacing CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- html -->
<!ELEMENT html (attribute | custom-attributes)*>
<!ATTLIST html
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        content CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- iframe -->
<!ELEMENT iframe (attribute | custom-attributes)*>
<!ATTLIST iframe
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        src CDATA #IMPLIED
        align (top|texttop|middle|absmiddle|bottom|absbottom|baseline|left|right|center) #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- image -->
<!ELEMENT image (attribute | custom-attributes)*>
<!ATTLIST image
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        border CDATA #IMPLIED
        src CDATA #IMPLIED
        align (top|texttop|middle|absmiddle|bottom|absbottom|baseline|left|right|center) #IMPLIED
        hspace CDATA #IMPLIED
        vspace CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- imagemap -->
<!ELEMENT imagemap (attribute | custom-attributes | area)*>
<!ATTLIST imagemap
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        border CDATA #IMPLIED
        src CDATA #IMPLIED
        align (top|texttop|middle|absmiddle|bottom|absbottom|baseline|left|right|center) #IMPLIED
        hspace CDATA #IMPLIED
        vspace CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- include -->
<!ELEMENT include (attribute | custom-attributes)*>
<!ATTLIST include
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        src CDATA #IMPLIED
        localized CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- intbox -->
<!ELEMENT intbox (attribute | custom-attributes)*>
<!ATTLIST intbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        format CDATA #IMPLIED
        value CDATA #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- label -->
<!ELEMENT label (attribute | custom-attributes)*>
<!ATTLIST label
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        value CDATA #IMPLIED
        multiline CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- listbox -->
<!ELEMENT listbox ((attribute | custom-attributes | listitem)*,((listhead,(attribute | custom-attributes | listitem)*,(listfoot,(attribute | custom-attributes | listitem)*)?) | (listfoot,(attribute | custom-attributes | listitem)*,(listhead,(attribute | custom-attributes | listitem)*)?))?)>
<!ATTLIST listbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        checkmark CDATA #IMPLIED
        disabled CDATA #IMPLIED
        pageSize CDATA #IMPLIED
        paginal CDATA #IMPLIED
        onPaging CDATA #IMPLIED
        readonly CDATA #IMPLIED
        multiple CDATA #IMPLIED
        vflex CDATA #IMPLIED
        rows CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        name CDATA #IMPLIED
        onSelect CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!--listcell -->
<!ELEMENT listcell (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST listcell
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
>

<!-- listfoot -->
<!ELEMENT listfoot (attribute | custom-attributes | listfooter)*>
<!ATTLIST listfoot
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- listfooter -->
<!ELEMENT listfooter (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST listfooter
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
>

<!-- listhead -->
<!ELEMENT listhead (attribute | custom-attributes | listheader)*>
<!ATTLIST listhead
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        sizable CDATA #IMPLIED
>

<!-- listheader -->
<!ELEMENT listheader (attribute | custom-attributes)*>
<!ATTLIST listheader
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        align (left|right|center) #IMPLIED
        valign (top|middle|bottom) #IMPLIED
        sort (auto|none) #IMPLIED
        sortDirection (natural|ascending|descending) #IMPLIED
        sortAscending CDATA #IMPLIED
        sortDescending CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onSort CDATA #IMPLIED
>

<!-- listitem -->
<!ELEMENT listitem (attribute | custom-attributes | listcell)*>
<!ATTLIST listitem
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        value CDATA #IMPLIED
        disabled CDATA #IMPLIED
        selected CDATA #IMPLIED
>

<!-- menu -->
<!ELEMENT menu ((attribute | custom-attributes)*,(menupopup,(attribute | custom-attributes)*)?)>
<!ATTLIST menu
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
>

<!-- menubar -->
<!ELEMENT menubar (attribute | custom-attributes | menu)*>
<!ATTLIST menubar
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        autodrop CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- menuitem -->
<!ELEMENT menuitem (attribute | custom-attributes)*>
<!ATTLIST menuitem
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        value CDATA #IMPLIED
        checked CDATA #IMPLIED
        autocheck CDATA #IMPLIED
        href CDATA #IMPLIED
        target CDATA #IMPLIED
        onClick CDATA #IMPLIED
>

<!-- menupopup -->
<!ELEMENT menupopup (attribute | custom-attributes | menu | menuitem | menuseparator)*>
<!ATTLIST menupopup
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        onOpen CDATA #IMPLIED
>

<!-- menuseparator -->
<!ELEMENT menuseparator (attribute | custom-attributes)*>
<!ATTLIST menuseparator
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- paging -->
<!ELEMENT paging (attribute | custom-attributes)*>
<!ATTLIST paging
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        pageSize CDATA #IMPLIED
        totalSize CDATA #IMPLIED
        activePage CDATA #IMPLIED
        pageIncrement CDATA #IMPLIED
        detailed CDATA #IMPLIED
        autohide CDATA #IMPLIED
>

<!-- popup -->
<!ELEMENT popup (attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript | menu | menuitem | menuseparator)*>
<!ATTLIST popup
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        onOpen CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- progressmeter -->
<!ELEMENT progressmeter (attribute | custom-attributes)*>
<!ATTLIST progressmeter
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        value CDATA #IMPLIED
>

<!-- radio -->
<!ELEMENT radio (attribute | custom-attributes)*>
<!ATTLIST radio
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        selected CDATA #IMPLIED
        checked CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onCheck CDATA #IMPLIED
>

<!-- radiogroup -->
<!ELEMENT radiogroup (attribute | custom-attributes | radio)*>
<!ATTLIST radiogroup
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        onCheck CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- row -->
<!ELEMENT row (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript)*>
<!ATTLIST row
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        align (left|right|center) #IMPLIED
        nowrap CDATA #IMPLIED
        valign (top|middle|bottom) #IMPLIED
>

<!-- rows -->
<!ELEMENT rows (attribute | custom-attributes | row)*>
<!ATTLIST rows
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- separator -->
<!ELEMENT separator (attribute | custom-attributes)*>
<!ATTLIST separator
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        spacing CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        bar CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- slider -->
<!ELEMENT slider (attribute | custom-attributes)*>
<!ATTLIST slider
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        curpos CDATA #IMPLIED
        maxpos CDATA #IMPLIED
        pageIncrement CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onScroll CDATA #IMPLIED
        onScrolling CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- space -->
<!ELEMENT space (attribute | custom-attributes)*>
<!ATTLIST space
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        spacing CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        bar CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- splitter -->
<!ELEMENT splitter (attribute | custom-attributes)*>
<!ATTLIST splitter
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        collapse (after|before) #IMPLIED
        open CDATA #IMPLIED
        onOpen CDATA #IMPLIED
>

<!-- style -->
<!ELEMENT style (#PCDATA | attribute | custom-attributes)*>
<!ATTLIST style
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        src CDATA #IMPLIED
>

<!-- tab -->
<!ELEMENT tab (attribute | custom-attributes)*>
<!ATTLIST tab
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        selected CDATA #IMPLIED
        closable CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
>

<!-- tabbox -->
<!ELEMENT tabbox (attribute | custom-attributes | tabs | tabpanels)*>
<!ATTLIST tabbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        panelSpacing CDATA #IMPLIED
        selectedIndex CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        onRightClick CDATA #IMPLIED
        onSelect CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- tabpanel -->
<!ELEMENT tabpanel (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript )*>
<!ATTLIST tabpanel
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
>

<!-- tabpanels -->
<!ELEMENT tabpanels (attribute | custom-attributes | tabpanel)*>
<!ATTLIST tabpanels
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- tabs -->
<!ELEMENT tabs (attribute | custom-attributes | tab)*>
<!ATTLIST tabs
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!ELEMENT textbox (attribute | custom-attributes)*>
<!ATTLIST textbox
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        name CDATA #IMPLIED
        disabled CDATA #IMPLIED
        readonly CDATA #IMPLIED
        maxlength CDATA #IMPLIED
        cols CDATA #IMPLIED
        constraint CDATA #IMPLIED
        value CDATA #IMPLIED
        type (text|password) #IMPLIED
        rows CDATA #IMPLIED
        multiline CDATA #IMPLIED
        onChange CDATA #IMPLIED
        onChanging CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- timer -->
<!ELEMENT timer (attribute | custom-attributes)*>
<!ATTLIST timer
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        delay CDATA #IMPLIED
        repeats CDATA #IMPLIED
        running CDATA #IMPLIED
        onTimer CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- toolbar -->
<!ELEMENT toolbar (attribute | custom-attributes | toolbarbutton | button | image)*>
<!ATTLIST toolbar
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- toolbarbutton -->
<!ELEMENT toolbarbutton (attribute | custom-attributes)*>
<!ATTLIST toolbarbutton
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        orient (horizontal|vertical) #IMPLIED
        dir (normal|reverse) #IMPLIED
        href CDATA #IMPLIED
        target CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onFocus CDATA #IMPLIED
        onBlur CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- tree -->
<!ELEMENT tree ((attribute | custom-attributes)*,((treecols,(attribute | custom-attributes)*,(treechildren,(attribute | custom-attributes)*)?) | (treechildren,(attribute | custom-attributes)*,(treecols,(attribute | custom-attributes)*)?))?)>
<!ATTLIST tree
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        rows CDATA #IMPLIED
        name CDATA #IMPLIED
        checkmark CDATA #IMPLIED
        multiple CDATA #IMPLIED
        vflex CDATA #IMPLIED
        onSelect CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- treecell -->
<!ELEMENT treecell (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript)*>
<!ATTLIST treecell
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
>

<!-- treechildren -->
<!ELEMENT treechildren (attribute | custom-attributes | treeitem)*>
<!ATTLIST treechildren 
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- treecol -->
<!ELEMENT treecol (attribute | custom-attributes)*>
<!ATTLIST treecol
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        label CDATA #IMPLIED
        image CDATA #IMPLIED
        align (left|right|center) #IMPLIED
        valign (top|middle|bottom) #IMPLIED
        maxlength CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
>

<!-- treecols -->
<!ELEMENT treecols (attribute | custom-attributes | treecol)*>
<!ATTLIST treecols
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        sizable CDATA #IMPLIED
>

<!-- treeitem -->
<!ELEMENT treeitem ((attribute | custom-attributes)*,((treerow,(attribute | custom-attributes)*,(treechildren,(attribute | custom-attributes)*)?) | (treechildren,(attribute | custom-attributes)*,(treerow,(attribute | custom-attributes)*)?))?)>
<!ATTLIST treeitem
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        value CDATA #IMPLIED
        open CDATA #IMPLIED
        selected CDATA #IMPLIED
        image CDATA #IMPLIED
        onOpen CDATA #IMPLIED
>

<!-- treerow -->
<!ELEMENT treerow (attribute | custom-attributes | treecell)*>
<!ATTLIST treerow
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
>

<!-- vbox -->
<!ELEMENT vbox (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript | splitter)*>
<!ATTLIST vbox
       if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        spacing CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- window -->
<!--
  The children elements of window here may not be equivalent to that in zul.xsd
-->
<!ELEMENT window (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript | caption)*>
<!ATTLIST window
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        id ID #IMPLIED
        visible CDATA #IMPLIED
        mold CDATA #IMPLIED
        use CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        sclass CDATA #IMPLIED
        style CDATA #IMPLIED
        left CDATA #IMPLIED
        top CDATA #IMPLIED
        draggable CDATA #IMPLIED
        droppable CDATA #IMPLIED
        tooltiptext CDATA #IMPLIED
        zindex CDATA #IMPLIED
        onCreate CDATA #IMPLIED
        onDrop CDATA #IMPLIED
        action CDATA #IMPLIED
        context CDATA #IMPLIED
        popup CDATA #IMPLIED
        tooltip CDATA #IMPLIED
        border CDATA #IMPLIED
        title CDATA #IMPLIED
        ctrlKeys CDATA #IMPLIED 
        mode (embedded|modal|overlapped|popup) #IMPLIED
        closable CDATA #IMPLIED
        sizable CDATA #IMPLIED
        onClick CDATA #IMPLIED
        onRightClick CDATA #IMPLIED
        onDoubleClick CDATA #IMPLIED
        onOK CDATA #IMPLIED
        onCancel CDATA #IMPLIED
        onCtrlKey CDATA #IMPLIED
        onMove CDATA #IMPLIED
        onShow CDATA #IMPLIED
        onClose CDATA #IMPLIED
        onZIndex CDATA #IMPLIED
        onBookmarkChanged CDATA #IMPLIED
        onClientInfo CDATA #IMPLIED
>

<!-- zk -->
<!ELEMENT zk (#PCDATA | attribute | custom-attributes | audio | bandbox | box | button | calendar | checkbox | combobox | datebox | decimalbox | div | doublebox | grid | groupbox | hbox | html | iframe | image | imagemap | include | intbox | intbox | label | listbox | menubar | menupopup | popup | radiogroup | separator | slider | space | style | tabbox | textbox | timer | toolbar | toolbarbutton | tree | vbox | window | zk | zscript)*>
<!ATTLIST zk
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
>

<!-- zscript -->
<!ELEMENT zscript (#PCDATA)>
<!ATTLIST zscript
        if CDATA #IMPLIED
        unless CDATA #IMPLIED
        forEach CDATA #IMPLIED
        forEachBegin CDATA #IMPLIED
        forEachEnd CDATA #IMPLIED
        src CDATA #IMPLIED
>